
body{
	font-family:Arial, sans-serif;
	padding:0;
	margin:0;
	color:;
}


.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}
header {
	background: url(../img/imgbg.jpg) no-repeat center top/cover;
	height: 600px;}
.container {
	width:1600px;
	padding: 0;
	margin: 0;
	}

.logo {
	margin-top: 175px;
	margin-left: 325px;
}
.whitetext {
	margin-top: 25px;
    margin-left: 325px;
	color:#fff;
	font-size: 24px;
	line-height: 1.5;
}
.icons {
	margin-top: 30px;
	margin-left: 325px;
	float: left;
}
.icons ul{
	list-style:none;
	float:left;
}
.icons ul li{
	float:left;
	margin-left: 20px;
}
.circle {
	background: black;
    border-radius: 50%;
    opacity:0.6;
}
.circle:hover {
	background: #2ecc71;
    border-radius: 50%;
    opacity:1;
}
#services {
	margin-top: 60px;
	margin-left:210px;
}
.services__item {
	width:330px;
	float:left;
	text-align: center;
	padding: 0;
	margin: 0;
}
@font-face { font-family: Raleway-Semibold; 
			 src: url('Raleway-Semibold.ttf'); 
} 

.services__item h3 {
	font-size: 22px;
	color:#222222;
	margin bottom:5px;
	font-family: Raleway-Semibold;
}
.services__item p {
	font-size: 16px;
	color:#a5a5a5;
	line-height: 1.5;
}
#getnotified {
	background: #e3e3e3;
	height: 450px;
	}
.notifymail h3 {
	font-size: 22px;
	color:#222222;
	margin-left: 210px;
	padding-top: 60px;
}
.notifymail p {
	width: 530px;
	font-size: 16px;
	color:#a5a5a5;
	line-height: 1.5;
	margin-left: 210px;	
}
.notifymail form{}
.notifymail form input {
	border: 1px solid #a8a8a8;
	border-radius: 10px 0px 0px 10px;
	padding:20px;
	font-size: 18px;
	margin-left: 210px;	
}
.notifymail form button {
	background: #2ecc71;
	font-family: Raleway-Semibold;
	padding: 20px;
	margin-left: -5px;
	border:1px solid #2ecc71;
	border-radius: 0px 10px 10px 0px;
	font-size: 17px;
	font-weight: 600px;
	color: #ffffff;
}
.video {
	float: right;
	margin-top: 60px;
}
.area {
	margin: 0 auto;
	background: #e3e3e3;
}
.jane{
	background:#ffffff;
	text-align: center;
}
.jane p{
	font-size: 16px;
	color: #848484;
	width:970px;
	text-align: center;
	margin-left:370px;
}
.jane h3{
	color:#ababab;
}
.jane h2{
	color:#000000;
}
.sorry {
	margin-left:150px;
}
.socicons {
	margin-top: 30px;
	margin-left: 625px;
	float: left;
}
.socicons ul{
	list-style:none;
	float:left;
}
.socicons ul li{
	float:left;
	margin-left: 15px;
}
.circle_soc {
	background: #d4d4d4;
    border-radius: 50%;
    opacity:0.6;
}
.circle_soc:hover {
	background: #2ecc71;
    border-radius: 50%;
    opacity:1;
}
footer {
	background: #e3e3e3;
}
nav { 
    display: inline-block;
	background: #e3e3e3;
	margin-top: 60px;
	height: 130px;
	display: block;
}
.menu {
	padding:0;
	margin:0;
	display:block;
	margin-left: 540px;	
}
.menu li{
	float:left;
	display: block;
	margin-right: 40px;
	margin-top: 65px;
}
.menu li a{
	color:#848484;
	text-decoration: none;
	font-size: 16px;
}


