
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   max-width: 1500px;
   
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}


header {
     background:url("img/pcblur.jpg") no-repeat center / cover; 
     position: relative;
     height: 800px;
}

.header-navigation ul {
    display: flex;
    list-style: none;
    position: absolute;
    top: 47%;
    left: 25%;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;

}

.header-navigation ul li {
    margin-right: 50px;
}

.header-navigation ul li a {
    color: black;
    text-decoration: none;
}

.header-navigation ul li a:hover {
    color: white;
}

.about {
    background: #e6e6e6;
    height: 700px;
}


.about h1{
    font-family: monospace;
    width: 100%;
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 500px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}

.about__box {
    display: flex;
    justify-content: space-between;
}

.about__box__me {
    width: 450px;
    margin-top: 100px;
    font-family: monospace;
    font-size: 20px;

}

.about__box__me ul {
    list-style-type: square;

}

.about__box__me button {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    padding: 15px;
    width: 150px;
    
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin-top: 50px;
}
.downloadCV a{
    display: block;
    width: 150px;
    padding: 15px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
}
.downloadCV a:hover {
text-decoration: none;
 color: black;
}

.about__box__photo {
    margin-top: 100px;
    border: 1px solid black;
    width: 400px;
    height: 335px;
    font-size: 40px;
    font-family: monospace;
    padding: 30px;
}

.portfolio {
    background: white;
    height: 900px;
}

.portfolio__items {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 350px 350px;
    grid-gap: 100px;
}

.portfolio__items__item-1 {
    border: 1px solid black;
    background: transparent url("img/tattoo.png") center no-repeat / cover;
   
}

.portfolio__items__item-1:hover {
    background: url("img/tattoocolor.png") center no-repeat / cover;
     transition: 1s;
}
.portfolio__items__item-2 {
    background: url("img/dsgn.png") center no-repeat / cover;
    border: 1px solid black;
}

.portfolio__items__item-2:hover {
    background: url("img/dsgncolor.png") center no-repeat / cover;
    transition: 1s;
}

.portfolio__items__item-3 {
    background: url("img/fitness.png") center no-repeat / cover;
    border: 1px solid black;
}

.portfolio__items__item-3:hover {
    background: url("img/fitnesscolor.png") center no-repeat / cover;
    transition: 1s;

}

.portfolio__items__item-4 {
    background: url("img/startup.png") center no-repeat / cover;
    border: 1px solid black;
}

.portfolio__items__item-4:hover {
    background: url("img/startupcolor.png") center no-repeat / cover;
    transition: 1s;
}
.portfolio__items__item-1,
.portfolio__items__item-2,
.portfolio__items__item-3,
.portfolio__items__item-4{
    box-shadow: 0 0 10px black;
    padding: 0;
    margin: 0;
    width: 351px;
    height: 352px;

}


.portfolio__items a {
    position: absolute;
    width: 350px;
    height: 350px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.contact {
    background: #1F1D1E;
    height: 250px;
    position: relative;
}
.contact ul{
    margin: 0 auto;
    list-style: none;
    display: flex;
    font-size: 50px;
    justify-content: space-around;
    padding-top: 30px;
   

}

.contact__social-list__item .fab {
    color:white;
}
.contact__social-list__item  .fab:hover{
    color: pink;
    cursor: pointer;
}
.mylogo{
    position: absolute;
    bottom: 20px;
    left: 47%;
    

}
.modal button {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    padding: 15px;
    width: 120px;

}
.modal input {
border: 1px solid black;
}
.modal textarea{
    margin-top: 30px;
    border: 1px solid black;
}


